html, body, #root, .App, .row, .col {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  background: url(02.jpg);
  background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navigation {
  left: 10rem;
  bottom: 5rem;
  /*top: 70px;*/
  top: 5rem;
  right: auto;
  width: 300px;
  position: absolute;
}

#navigation ul, #navigationMobile ul {
  list-style: none;
  padding: 0;
}

#navigation li, #navigationMobile li {
  text-align: left;
  padding-bottom: 1rem;
}

#navigation a, #navigationMobile a {
  padding: 0.5rem;
  cursor: pointer;
  background-color: black;
  color: white;
}

#navNameBox {
  background-color: #FFC000;
  position: absolute;
  bottom: 0;
  display: block;
  cursor: pointer;
  overflow: hidden;
  font-size: 30px;
  padding: 40px 20px 40px 20px;
}

#sidebar {
  height: 100%;
  background-color: #FFC000;
  color: black;
}

#closeButton {
  position: absolute;
  right: 1rem;
  top: 0;
  padding: 0.5rem;
  cursor: pointer;
  background-color: black;
  color: white;
}

.videoModalButton {
  cursor: pointer;
}

/* Phone Start */
#navigationMobile {
  left: 3rem;
  bottom: 2rem;
  top: 2rem;
  right: auto;
  width: 300px;
  position: absolute;
}

#navNameBoxMobile {
  background-color: #FFC000;
  position: absolute;
  bottom: 0;
  display: block;
  cursor: pointer;
  overflow: hidden;
  padding: 40px 20px 40px 20px;
  font-size: 30px;
  width: 100%;
}
/* Phone End */
