/* Start Desktop */

#aboutmeContainer {
  position: absolute;
  top: 0;
  right: 76%;
  bottom: 0;
  left: 0;
  transition: transform 400ms ease-in;
}

#aboutmeContainer.slideIn {
  transform: translateX(0);
}

#aboutmeContainer.slideOut {
  transform: translateX(-100%);
}

#aboutme {
  /*transform: translateX(-150px);*/
  transition: transform 400ms ease-in;
  
  color: white;
  /*width: 100px;
  width: 50%;*/
  height: 100%;
  background-color: red;
  /*padding: 20px;*/

  position: absolute;
  z-index: 1;
}

#aboutme.slideIn {
  transform: translateX(0);
}

#aboutme.slideOut {
  transform: translateX(-100%);
}

#services {
  /*transform: translateX(-150px);*/
  transition: transform 400ms ease-in;
  
  color: white;
  /*width: 100px;*/
  width: 50%;
  height: 100%;
  background-color: yellow;
  /*padding: 20px;*/

  position: absolute;
  z-index: 1;
}

#services.slideIn {
  transform: translateX(100%);
}

#services.slideOut {
  transform: translateX(200%);
}

#portfolio {
  /*transform: translateX(-150px);*/
  transition: transform 400ms ease-in;
  
  color: white;
  /*width: 100px;*/
  width: 50%;
  height: 100%;
  background-color: green;
  /*padding: 20px;*/

  position: absolute;
  z-index: 1;
}

#portfolio.slideIn {
  transform: translateX(0);
}

#portfolio.slideOut {
  transform: translateX(-100%);
}

#contact {
  /*transform: translateX(-150px);*/
  transition: transform 400ms ease-in;
  
  color: white;
  /*width: 100px;*/
  width: 50%;
  height: 100%;
  background-color: black;
  /*padding: 20px;*/

  position: absolute;
  z-index: 1;
}

#contact.slideIn {
  transform: translateX(100%);
}

#contact.slideOut {
  transform: translateX(200%);
}

#homepage {
  transition: transform 400ms ease-in;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 70px;
  bottom: 70px;
  overflow: hidden;
  width: 300px;
}

#homepage.slideRightLg {
  transform: translateX(50%);
}

#homepage.slideRightSm {
  transform: translateX(15%);
}

#homepage.slideLeft {
  transform: translateX(0);
}

#desktopRow {
  height: 400px;
}
/* End Desktop */

/* Start Mobile */

#aboutmeMobile {
  /*transform: translateX(-150px);*/
  transition: transform 400ms ease-in;
  
  color: white;
  /*width: 100px;*/
  width: 100%;
  height: 100%;
  background-color: red;
  /*padding: 20px;*/

  position: absolute;
  z-index: 1;
}

#aboutmeMobile.slideIn {
  transform: translateX(0);
}

#aboutmeMobile.slideOut {
  transform: translateX(-100%);
}

#servicesMobile {
  /*transform: translateX(-150px);*/
  transition: transform 400ms ease-in;
  
  color: white;
  /*width: 100px;*/
  width: 100%;
  height: 100%;
  background-color: yellow;
  /*padding: 20px;*/

  position: absolute;
  z-index: 1;
}

#servicesMobile.slideIn {
  transform: translateX(0);
}

#servicesMobile.slideOut {
  transform: translateX(-100%);
}

#portfolioMobile {
  /*transform: translateX(-150px);*/
  transition: transform 400ms ease-in;
  
  color: white;
  /*width: 100px;*/
  width: 100%;
  height: 100%;
  background-color: green;
  /*padding: 20px;*/

  position: absolute;
  z-index: 1;
}

#portfolioMobile.slideIn {
  transform: translateX(0);
}

#portfolioMobile.slideOut {
  transform: translateX(-100%);
}

#contactMobile {
  /*transform: translateX(-150px);*/
  transition: transform 400ms ease-in;
  
  color: white;
  /*width: 100px;*/
  width: 100%;
  height: 100%;
  background-color: black;
  /*padding: 20px;*/

  position: absolute;
  z-index: 1;
}

#contactMobile.slideIn {
  transform: translateX(0);
}

#contactMobile.slideOut {
  transform: translateX(-100%);
}


#homepageMobile {
  transition: transform 400ms ease-in;
  padding: 1.5rem 0 1.5rem 0;
  margin: 0 1.5rem 0 1.5rem;
}

#homepageMobile.slideRight {
  transform: translateX(100%);
}

#homepageMobile.slideLeft {
  transform: translateX(0);
}

#portfolioMobile#portfolioContents.row {
  padding-bottom: 1rem;
}
/* End Mobile */



/* --------Global------------- */

#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  font-family: Arial;
}

#App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(02.jpg);
  background-size: cover;
}

#aboutmeContents {
  padding: 2rem 1rem 2rem 1rem;
}

#aboutmeContents h2 {
  text-align: center;
}

#aboutmeCloseButton {
  position: absolute;
  right: 1rem;
  top: 0;
  padding: 0.5rem;
  cursor: pointer;
  background-color: black;
  color: white;
  z-index: 2;
}

#servicesContents {
  padding: 2rem 1rem 2rem 1rem;
}

#servicesContents h2 {
  text-align: center;
}

#servicesCloseButton {
  position: absolute;
  right: 1rem;
  top: 0;
  padding: 0.5rem;
  cursor: pointer;
  background-color: black;
  color: white;
  z-index: 2;
}

#portfolioContents {
  padding: 2rem 1rem 2rem 1rem;
  height: 100%;
}

#portfolioContents.container {
  height: 95%;
}

#portfolioContents h2 {
  text-align: center;
}

#portfolioCloseButton {
  position: absolute;
  right: 1rem;
  top: 0;
  padding: 0.5rem;
  cursor: pointer;
  background-color: black;
  color: white;
  z-index: 2;
}

#contactContents {
  padding: 2rem 1rem 2rem 1rem;
}

#contactContents h2 {
  text-align: center;
}

#contactCloseButton {
  position: absolute;
  right: 1rem;
  top: 0;
  padding: 0.5rem;
  cursor: pointer;
  background-color: black;
  color: white;
  z-index: 2;
}

#homepageContainer,#homepageMobile {
  height: 100%;
}

#homepageContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform 400ms ease-in;
}

#homepageContainer.slideRightLg {
  transform: translateX(50%);
}

#homepageContainer.slideRightSm {
  transform: translateX(24%);
}

#homepageContainer.slideRightXSm {
  transform: translateX(14%);
}

#homepageContainer.slideLeft {
  transform:translateX(0%);
}

/*@keyframes blink { 
  50% { border-color: #ff0000; } 
}*/

#nameBox {
  background-color: #FFC000;
  color: white;
  position: absolute;
  bottom: 0;
  display: block;
  cursor: pointer;
  overflow: hidden;
  font-size: 44px;
  padding: 40px 20px 40px 20px;
  /*padding: 1rem 0.5rem 1rem 0.5rem;
  margin: 0 1.5rem 1.5rem 1.5rem;*/
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Dosis';
  /*animation: blink .5s step-end infinite alternate;
  animation-name: blink ;
  animation-duration: .5s ;
  animation-timing-function: step-end ;
  animation-iteration-count: infinite ;
  animation-direction: alternate ;*/
}

#nameBox.blinkingBorder {
  border: 2px solid red;
}

#navmenu {
  /*padding: 1.5rem 0 1.5rem 0;
  margin: 0 1.5rem 0 1.5rem;*/
  transition: transform 400ms ease-in;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Dosis';
}

#navmenu.slideDown {
  transform: translateY(0);
}

#navmenu.slideUp {
  transform: translateY(-100%);
}

#navmenu ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}

#navmenu li {
  text-align: left;
  padding-bottom: 0.25rem;
}

#navmenu div {
  padding: 0.5rem;
  cursor: pointer;
  background-color: black;
  color: white;
}

#navmenuClose {
  display: inline-block;
}

.react-player div {
  background-color: inherit !important;
}

.scrollable {
  overflow-y: scroll;
}

#blinking {
  display:none;
}